.checkout {
  // position: relative;
  position: fixed;
  z-index: $z-1000;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: $bg-color;
  top: -200%;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: auto;
  font-size: 1.6rem;

  // @include respond(lg) {
  //   padding: 10rem 9rem;
  // }

  // OPENED CART
  &.open {
    top: 0;
    opacity: 1;
  }

  &__nav {
    padding: 5rem 1rem 2rem 1rem;

    @include respond(md) {
      padding: 5rem 1rem 2rem 3rem;
    }

    @include respond(lg) {
      padding: 5rem 1rem 2rem 7rem;
    }

    font-size: 1.4rem;
  }

  &__logo-box {
    margin-bottom: 1rem;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    & li {
      list-style: none;
    }
  }

  &__link {
    color: $orange;
    opacity: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:not(:disabled):hover {
      opacity: 0.7;
    }

    &:disabled {
      cursor: initial;
      color: $black;
    }
  }

  &__summary-btn {
    cursor: pointer;
    width: 100%;
    border: 1px solid $gray-light-3;
    background-color: $gray-light-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 5rem;

    &--text {
      font-size: 1.4rem;
      color: $orange;
    }

    &--price {
      font-size: 1.9rem;
      color: $black;
      font-weight: 500;
    }

    @include respond(md) {
      padding: 0 3rem;
    }

    @include respond(lg) {
      display: none;
    }
  }

  &__cart-content {
    padding: 2rem 1rem 0 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    --cart-gaps: 0;
    --cart-height: 0;
    // total height = height of all cart items + height of all gaps + padding
    height: calc(var(--cart-height) + (var(--cart-gaps) * 1rem) + 2rem);
    transition: all 0.3s ease-in-out;

    &.closed {
      padding: 0 1rem;
      height: 0;
      transition: all 0.3s ease-in-out;

      @include respond(md) {
        padding: 0 3rem;
      }

      @include respond(lg) {
        height: max-content;
        min-height: 100%;
        padding: 7rem 4rem 1rem 4rem;
      }
    }

    @include respond(md) {
      padding: 2rem 3rem 0 3rem;
    }

    @include respond(lg) {
      position: absolute;
      overflow: visible;
      height: max-content;
      min-height: 100%;
      width: 42.5vw;
      right: 0;
      top: 0;
      padding: 7rem 4rem 1rem 4rem;
      border-left: 1px solid $gray-light-3;
      background-color: $gray-light-2;
    }
  }

  &__cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;

    &--img-wrap {
      width: max-content;
      position: relative;
    }

    &--qty {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      z-index: $z-100;
      background-color: $gray-blue;
      color: $white;
      font-size: 1.3rem;
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      border: 1px solid $gray-light-3;
      border-radius: 2px;
      @include changeImgColor;
    }

    &--name {
      font-weight: 500;
    }

    &--size {
      font-size: 1.4rem;
      margin-top: 0.2rem;
    }

    &--price {
      margin-left: auto;
      text-align: right;
      flex-basis: 30%;
      font-weight: 500;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__detail {
    border-top: 1px solid $gray-light-3;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--line {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.hidden {
        display: none;
      }
    }

    & h6 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    & strong {
      font-weight: 500;

      &.total {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }

    & h5 {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .form {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.5rem;
    border-top: 1px solid $gray-light-3;
    border-bottom: 1px solid $gray-light-3;

    @include respond(md) {
      padding: 2.5rem 3rem;
    }

    @include respond(lg) {
      max-width: 52.5vw;
      padding: 2.5rem 2rem 5rem 7rem;
      // margin-left: 7rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    &__heading {
      font-size: 2rem;
      font-family: Roboto;
      font-weight: 300;
    }

    &__group {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &--btns {
        @include respond(md/lg) {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }
    }

    &__item {
      display: flex;
      gap: 1.5rem;
      position: relative;
      flex: 1;
      // border-radius: 0.5rem;

      & button {
        flex-basis: 15%;
        background-color: $gray-light-3;
        color: $white;
        height: 4.5rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
      }

      input:not([type='radio']) {
        padding: 1.75rem 1rem 0.75rem 1rem;
        display: block;
        transition: padding 0.3s ease;
        border-radius: 0.5rem;
        border: none;
        outline: 1px solid $gray-light;

        &:not([type='checkbox']) {
          width: 100%;
        }

        &:placeholder-shown {
          padding: 1.25rem 1rem 1.25rem 1rem;
        }

        &[type='checkbox'],
        &[type='checkbox'] + label {
          cursor: pointer;
          outline: none;
        }

        &:focus-visible {
          outline: 2px solid $orange;
        }

        // &.required:invalid {
        //   outline: 2px solid $red;
        // }
      }

      label {
        &:not(.static) {
          position: absolute;
          top: 0.25rem;
          left: 1.1rem;
          font-size: 1.1rem;
          transition: 0.3s ease;
        }
      }

      input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(1rem);
      }

      &--radio {
        align-items: flex-start;
        border: none;
        outline: 1px solid $gray-light;
        border-radius: 0.5rem;
        padding: 1.5rem;

        & input {
          cursor: pointer;
          margin-top: 0.2rem;
        }

        label {
          flex: 1;
          cursor: pointer;

          & h5 {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 0.3rem;
          }

          & span {
            font-weight: 400;
            font-size: 1.4rem;
          }
        }

        & strong {
          margin-left: auto;
          // font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }

    // wrapper of form item and error message
    &__item-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      flex: 1;

      &.success .form__item input {
        outline: 2px solid $green;
      }

      &.error {
        & .form__item input {
          outline: 2px solid $red;
        }

        & .form__error {
          display: block;
        }
      }
    }

    // error message
    &__error {
      color: $red;
      font-size: 1.4rem;
      display: none;
    }

    &__line {
      display: flex;
      gap: 2rem;
      flex-direction: column;

      @include respond(md/lg) {
        flex-direction: row;
        align-items: flex-start;
      }
    }

    & button {
      border: none;
      border-radius: 0.5rem;
      font-size: 1.45rem;
      cursor: pointer;
    }

    &__submit,
    &__return {
      height: 6rem;
      @include respond(md/lg) {
        height: 5rem;
      }
    }

    &__submit {
      background-color: $orange;
      color: $white;

      @include respond(md/lg) {
        flex-basis: 35%;
      }
    }

    &__return {
      color: $orange;
      background-color: transparent;

      @include respond(md/lg) {
        flex-basis: max-content;
      }

      & span {
        margin-right: 0.5rem;
      }
    }
  }
}
