// HEADER
.header {
  z-index: $z-1000;

  @include respond(lg) {
    position: sticky;
    top: 0;
  }
}

// DISCOUNT CODE BAR AT TOP OF PAGE - DOESNT ACTUALLY BELONG TO HEADER
.discount {
  background-color: $orange;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}

// NAV PANEL
.nav {
  font-size: 1.6rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: $bg-color;

  @include respond(lg) {
    padding: 0 3.5rem;
  }

  // GENERAL LINK STYLES
  & a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $black;
    }

    &:hover,
    &:active {
      color: $orange;
    }
  }

  // NAV LINKS
  &__links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    padding: 7rem 3rem;
    position: fixed;
    z-index: $z-1000;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    overflow-y: auto;

    top: -200%;
    opacity: 0;
    transition: opacity 0.5s ease;

    // OPENED MOBILE MENU
    &.open {
      top: 0;
      opacity: 1;
    }

    // MENU ON DESKTOP
    @include respond(lg) {
      position: static;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      padding: 0;
      flex: 1;
      height: 100%;
      width: 100%;
      background-color: transparent;
      opacity: 1;
    }
  }

  // NAV LINK
  &__link {
    display: block;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 3rem;
    text-align: left;
    padding: 1.5rem 0;

    // NAV LINK ON DESKTOP
    @include respond(lg) {
      display: initial;
      font-family: Roboto;
      font-weight: 400;
      font-size: 1.6rem;
      text-align: center;
      padding: 0;
    }
  }

  // CLOSE MOBILE MENU BTN
  &__close-nav {
    @include respond(lg) {
      display: none;
    }
  }

  // WRAPPER USED FOR CART AND MOBILE MENU BTN TO HELP CENTER LOGO
  &__btn-wrap {
    flex: 1;
    display: flex;

    // NO DISPLAY FOR WRAPPER OF MOBILE MENU ON DESKTOP
    &:first-child {
      @include respond(lg) {
        display: none;
      }
    }
  }

  &__nav-btn,
  &__cart-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
  }

  // MOBILE MENU BTN
  &__nav-btn {
    margin-right: auto;
  }

  // CART BTN
  &__cart-btn {
    margin-left: auto;
  }
}
