// PRODUCT MODAL WINDOW
.product-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 3000;
  background-color: $bg-color;
  padding: 7rem 0 7rem 0;

  @include respond(md/lg) {
    padding: 8rem 2rem;
  }

  @include respond(lg) {
    padding: 8rem 8rem;
  }

  // MAIN CONTENT OF MODAL
  & .product {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 2rem;

    @include respond(md/lg) {
      flex-direction: row;
      justify-content: center;
    }

    // IMG GALLERY BTNS WRAPPER
    &__slider__btns-wrap {
      margin-top: 2rem;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
    }

    // IMG GALLERY BTNS
    &__slider__btn {
      @include galleryBtn;

      @include respond(md/lg) {
        display: none;
      }
    }

    // IMG GALLERY LAYOUT
    &__slider {
      @include respond(md/lg) {
        display: grid;
        gap: 2rem;
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(10, 1fr);
      }
    }

    // IMG GALLERY IGMS
    &__images {
      display: flex;
      gap: 4rem;
      @include imageContainer;
      @include respond(md/lg) {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        flex-direction: column;
        gap: 2rem;
      }
    }

    // IMG GALLERY IMG
    &__img {
      max-width: 72.5%;
      scroll-snap-align: start;
      background-color: grey;

      @include respond(md/lg) {
        max-width: 100%;
      }

      // ONLY ONE IMG IN GALLERY
      &.solo {
        max-width: 100%;
        margin: 0 auto;

        @include respond(md/lg) {
          margin: 0;
        }
      }

      &:not(.product__img--big) {
        @include respond(md/lg) {
          cursor: pointer;
        }
      }

      // SELECTED IMG - BIGGER SCREENS ONLY
      &--big {
        display: none;
        @include respond(md/lg) {
          display: block;
          grid-column: 2 / 3;
          grid-row: 1 / -1;
        }
      }

      &.selected {
        @include respond(md/lg) {
          border: 1px solid $black;
        }
      }

      @include changeImgColor;

      &.lazy {
        animation: pulsate 2s infinite;
      }
    }

    // PRODUCT INFORMATION CONTAINER
    &__main {
      margin: 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 35rem;

      &--bottom {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    // PRODUCT NAME
    &__name {
      font-size: 3.5rem;
      font-weight: 500;
    }

    // PRODUCT PRICE
    &__price {
      font-size: 3.5rem;
      font-weight: light;
      display: flex;
      gap: 2rem;

      &--now {
        color: $orange;
      }

      &--before {
        text-decoration: line-through;
        color: $gray-light;
      }
    }

    // PRODCUT REVIEW STARS
    &__review {
      display: flex;
      gap: 0.5rem;
      font-size: 1.4rem;

      &:hover {
        color: $black;
      }

      &--stars {
        color: $orange;
      }
    }

    // INSTALLMENT MESSAGE
    &__installment {
      font-size: 1.6rem;

      & img {
        height: 1.5rem;
        vertical-align: middle;
      }

      & a:link,
      & a:visited {
        text-decoration: underline;
      }

      & a:hover,
      & a:active {
        color: $black;
      }
    }

    // PRODUCT OPTIONS FORM
    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &,
      & * {
        font-size: 1.6rem;
      }

      // SELECT
      & .select-wrap {
        position: relative;

        &::after {
          z-index: -1;
          content: '>';
          position: absolute;
          top: 50%;
          right: 1.5rem;
          transform: translateY(-50%) rotate(90deg);
        }
      }

      & select {
        width: 100%;
        background-color: transparent;
        padding: 1rem 1.5rem;
        height: 5rem;
        border-radius: 1.7rem;
        appearance: none;
        border: 1px solid $black;
      }

      // QTY
      & .qty-wrap {
        display: flex;
        gap: 2rem;
        align-items: center;
      }

      & .input-wrap {
        flex: 1;
        height: 5rem;
        display: flex;
        border: 1px solid $black;
        border-radius: 1.7rem;

        & input {
          text-align: center;
          flex: 1;
        }

        & button {
          border: none;
          border-radius: 1.7rem;
          background-color: transparent;
          font-size: 2rem;
          cursor: pointer;
          padding: 1rem 1.5rem;
        }
      }
    }

    // ITEM DECRIPTION
    &__descr {
      font-size: 1.6rem;
      line-height: 125%;
    }
  }
}
