.reviews {
  background-color: $orange;
  padding: 6rem 8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;

  & .review {
    // flex: 1;
    // max-width: 400px;
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5rem;

    &__stars {
      font-size: 2.4rem;
      width: max-content;
    }

    &__text {
      font-size: 1.5rem;
      line-height: 170%;
    }

    &__name {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

.quote {
  background-color: $gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 8rem;

  &__heading {
    flex-basis: 50rem;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    line-height: 110%;
  }
}

.shop {
  background-color: $gray-blue;
  padding: 7rem 2rem;

  &__heading {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &__para {
    font-size: 1.5rem;
    line-height: 1.6;
    padding-right: 5rem;
    margin-bottom: 4rem;
  }

  &__items {
    display: flex;
    gap: 4rem;
    border: 2px solid green;
    overflow-x: auto;
  }

  &__item {
    // flex-basis: 500px;
    display: block;
    flex: 0 0 72.5%;
    // height: 500px;
    // padding: 1rem;
    border: 2px solid red;
    // position: relative;

    &__img {
      max-width: 72.5%;
      object-fit: fill;
      border: 2px solid yellow;
    }

    // &__name {
    //   position: absolute;
    //   border: 2px solid blue;
    //   left: 0;
    //   bottom: 0;
    // }
  }
}
