// DIFFERENT SECTIONS IN MAIN PAGE

// REVIEWS
.reviews {
  background-color: $orange;
  padding: 6rem 8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;

  // ONE REVIEW
  & .review {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1.5rem;

    &__stars {
      font-size: 2.4rem;
      width: max-content;
    }

    &__text {
      font-size: 1.5rem;
      line-height: 170%;
    }

    &__name {
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

// QUOTE SECTION
.quote {
  background-color: $gray-light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 8rem;

  &__heading {
    flex-basis: 50rem;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    line-height: 110%;
  }

  // ANIMATION
  & .slide-in {
    @include slide-in;
  }
}

// CATEGORY IMG GALLERY
.shop {
  background-color: $gray-blue;
  padding: 7rem 2rem;

  @include respond(lg) {
    display: flex;
    align-items: flex-start;
  }

  // HEADING AND PARA SECTION
  &__head {
    @include respond(lg) {
      flex: 0 0 1;
    }
  }

  // HEADING
  &__heading {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 2rem;

    @include respond(lg) {
      font-size: 3.5rem;
    }
  }

  // DESCRIPTION PARA
  &__para {
    font-size: 1.5rem;
    line-height: 1.6;
    padding-right: 5rem;
    margin-bottom: 4rem;

    @include respond(lg) {
      font-size: 1.4rem;
    }
  }

  // ACTUAL GALLERY
  &__items {
    display: flex;
    gap: 4rem;
    @include imageContainer;
  }

  // ONE ITEM
  &__item {
    flex: 0 0 72.5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    scroll-snap-align: start;

    @include respond(md) {
      flex: 0 0 calc(50% - (4rem / 2));
    }

    @include respond(lg) {
      flex: 1;
    }

    // USED TO MAKE IMGS APPEAR THE SAME HEIGHT - IT'S JUST WHITE ELEMENT GROWING TO FILL IN THE SPACE
    &__filling {
      background-color: $white;
      flex-grow: 1;
    }

    // ITEM IMG
    &__img {
      max-width: 100%;
      object-fit: contain;
    }

    // ITEM NAME
    &__name {
      font-size: 2rem;
      margin: 2rem 0;

      @include respond(lg) {
        font-size: 1.6rem;
      }
    }
  }

  // GALLERY BTNS
  &__btns-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    @include galleryBtn;
  }
}
