// MAIN FONT
body {
  font-family: Roboto;
}

// HEADINGS
h2,
h3,
h4 {
  font-family: 'Playfair Display';
  letter-spacing: -0.075rem;
}

// FORM FON EXCEPT CHECKOUT
form:not(.checkout__content) {
  font-family: 'Playfair Display';
}

// LINKS
a {
  &:link,
  &:visited {
    text-decoration: none;
    color: $black;
  }

  &:hover,
  &:active {
    color: $orange;
  }
}

// HIDE ARROWS IN NUMBER INPUT FIELDS
input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  // TRANSPARENT NUMBER INPUT FIELDS IN CART AND PRODUCT MODAL
  .cart &,
  .product & {
    background-color: transparent;
    border: none;
  }
}

// FOCUS OUTLINE
*:focus-visible {
  outline: 2.5px solid $orange;
}
