body {
  font-family: Roboto;
}

h2,
h3,
h4 {
  font-family: 'Playfair Display';
  letter-spacing: -0.075rem;
}

form:not(.checkout__content) {
  font-family: 'Playfair Display';
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: $black;
  }

  &:hover,
  &:active {
    color: $orange;
  }
}

// hide arrows in number input fields
input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  // transparent number input fields in cart na product modal
  .cart &,
  .product & {
    background-color: transparent;
    border: none;
  }
}

*:focus-visible {
  outline: 2.5px solid $orange;
}
